In [ ]:
import pandas as pd
import numpy as np

In [ ]:
coursera = pd.read_csv("Coursera.csv")

In [ ]:
coursera

,partner,course,skills,rating,reviewcount,level,certificatetype,duration,crediteligibility
0,Google,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,Professional Certificate,3 - 6 Months,False
1,Google,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,Professional Certificate,3 - 6 Months,True
2,Google,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,Professional Certificate,3 - 6 Months,True
3,Google,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,Professional Certificate,3 - 6 Months,False
4,Google,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,Professional Certificate,3 - 6 Months,True
...,...,...,...,...,...,...,...,...,...
1134,IIT Guwahati,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1135,IE Business School,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1136,IIT Roorkee,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1137,IIT Bombay,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1138,University of Illinois,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,Graduate Certificate,6 - 12 Months,True

In [ ]:
coursera.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139 entries, 0 to 1138
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   partner            1139 non-null   object
 1   course             1139 non-null   object
 2   skills             1088 non-null   object
 3   rating             993 non-null    float64
 4   reviewcount        993 non-null    object
 5   level              1004 non-null   object
 6   certificatetype    1116 non-null   object
 7   duration           1116 non-null   object
 8   crediteligibility  1139 non-null   bool
dtypes: bool(1), float64(1), object(7)
memory usage: 72.4+ KB

In [ ]:
#Droping 'partner','certificatetype','crediteligibility' columns from data because it'll not be useful in tranining
try:
    coursera = coursera.drop(['partner','certificatetype','crediteligibility'],axis=1)
except Exception as ex:
    print("Data has been already processed")

In [ ]:
coursera

,course,skills,rating,reviewcount,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1134,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1137,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

<h1>Data Featuring</h1>

In [ ]:
#Normalization of the column names
try:
    coursera = coursera.rename(
        columns={
            "course": "course_title",
            "reviewcount": "review_count"
        }
    )
except:
    print("columns has been changing")

In [ ]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1134,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1137,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

<h3>Handling the Missing values</h3>

In [ ]:
#the null values insights
coursera.isna().sum()

course_title      0
skills           51
rating          146
review_count    146
level           135
duration         23
dtype: int64

In [ ]:
#Dropping the null values from skills column
coursera = coursera.dropna(subset=['skills'])

In [ ]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

In [ ]:
#checking the missing value precentage for reveiw count
missing_percent = coursera['review_count'].isna().mean() * 100
print(missing_percent)

8.731617647058822

In [ ]:
#If missing % is too high (> 20–30%), mean imputation becomes bad.
if missing_percent < 10:
    print("OK to consider imputation")
else:
    print("Too many NaNs — consider dropping column or advanced imputation")

OK to consider imputation

In [ ]:
#removing the 'k' from the review_count to numerical values
def convert_k_to_number(x):
    if isinstance(x, str):
        if 'k' in x.lower():
            return float(x.lower().replace('k','')) * 1000
        else:
            return float(x)
    return x

In [ ]:
coursera = coursera.copy()

In [ ]:
coursera['review_count'] = coursera['review_count'].apply(convert_k_to_number)

In [ ]:
skew = coursera['review_count'].skew()
print(skew)

6.456920167332805

In [ ]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

In [ ]:
#replacing the null/nan values with the mean of the review count column
coursera['review_count'] = coursera['review_count'].fillna(coursera['review_count'].mean())

In [ ]:
#replacing the null/nan values with the mean of the rating column
coursera['rating'] = coursera['rating'].fillna(coursera['rating'].mean())

In [ ]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.800000,16400.000000,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.800000,133400.000000,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.800000,97300.000000,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.800000,21400.000000,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.800000,181400.000000,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",4.677241,7827.922457,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",4.677241,7827.922457,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",4.677241,7827.922457,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",4.677241,7827.922457,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",4.677241,7827.922457,NaN,6 - 12 Months

In [ ]:
coursera = coursera.dropna(subset=['level'])
coursera = coursera.dropna(subset=['duration'])

In [ ]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [ ]:
coursera.isna().sum()

course_title    0
skills          0
rating          0
review_count    0
level           0
duration        0
dtype: int64

In [ ]:
coursera.to_csv('coursera-v1.csv', index=False)

In [ ]:
pd.read_csv("coursera-v1.csv")

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
995,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
996,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
997,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
998,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
999,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [ ]:
#cleaning the skills column
coursera['skills'] = coursera['skills'].astype(str)

In [ ]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [ ]:
#Taking a copy from orginial data set
new_coursera = coursera.copy()

In [ ]:
new_coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [ ]:
# Force string
new_coursera['skills'] = new_coursera['skills'].astype(str)

# Remove braces and quotes + normalize commas
new_coursera['skills'] = (
    new_coursera['skills']
        .str.replace(r'[{}"]', '', regex=True)
        .str.replace(r'\s*,\s*', ',', regex=True)
)

# Convert to list
new_coursera['skills'] = new_coursera['skills'].apply(lambda x: x.split(',') if x != 'nan' else [])

In [ ]:
new_coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"[ Network Security, Python Programming, Linux,...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"[ Data Analysis, R Programming, SQL, Business ...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"[ Project Management, Strategy and Operations,...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"[ Digital Marketing, Marketing, Marketing Mana...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"[ Computer Networking, Network Architecture, N...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"[ Communication, Human Resources, Strategy, Wr...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"[ Sales, Marketing, Strategy, Leadership and M...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"[ Finance, Investment Management, Financial An...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"[ Entrepreneurship, Leadership and Management,...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,[ Microsoft Excel],4.6,52.0,Beginner,Less Than 2 Hours

In [ ]:
new_coursera.isna().sum()

course_title    0
skills          0
rating          0
review_count    0
level           0
duration        0
dtype: int64

In [ ]:
coursera.to_csv('coursera-v2.csv', index=False)

In [ ]:
missing_values_count = new_coursera.isnull().sum()
missing_values_count

course_title    0
skills          0
rating          0
review_count    0
level           0
duration        0
dtype: int64

In [ ]:
# how many total missing values do we have?
total_cells = np.prod(new_coursera.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

0.0

In [ ]:
courser_v1 = pd.read_csv('coursera-v1.csv')

In [ ]:
courser_v1

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
995,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
996,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
997,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
998,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
999,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [ ]:
courser_v2 = pd.read_csv('coursera-v2.csv')

<h2>Handling Skill Seperation & Selection</h2>

In [ ]:
courser_v2

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
995,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
996,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
997,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
998,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
999,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [ ]:
courser_v2["skills_list"] = courser_v2["skills"].apply(
    lambda x: [s.strip().strip('"').strip() for s in x.strip("{}").split(",")]
)

skill_counts = (
    courser_v2.explode("skills_list")["skills_list"]
      .value_counts()
)

i=1
for skill, count in skill_counts.items():
    print(f"{i} {skill}: {count}")
    i=i+1

1 Leadership and Management: 329
2 Data Analysis: 242
3 Communication: 191
4 Strategy: 191
5 Computer Programming: 189
6 Critical Thinking: 176
7 Problem Solving: 165
8 Strategy and Operations: 165
9 Python Programming: 145
10 Business Analysis: 133
11 Machine Learning: 129
12 Planning: 120
13 Algorithms: 116
14 Decision Making: 116
15 Data Management: 115
16 Marketing: 109
17 Finance: 108
18 Cloud Computing: 106
19 Probability & Statistics: 97
20 Human Learning: 96
21 Machine Learning Algorithms: 85
22 Entrepreneurship: 81
23 General Statistics: 81
24 Databases: 81
25 Data Visualization: 79
26 SQL: 77
27 Collaboration: 76
28 Organizational Development: 76
29 Risk Management: 72
30 Exploratory Data Analysis: 70
31 Financial Analysis: 70
32 Statistical Analysis: 69
33 Applied Machine Learning: 68
34 Project Management: 68
35 Mathematics: 66
36 Regression: 64
37 Data Structures: 64
38 Software Engineering: 62
39 Deep Learning: 61
40 Programming Principles: 61
41 Statistical Programming: 60
42 Accounting: 60
43 Market Analysis: 60
44 Computer Programming Tools: 59
45 Writing: 57
46 Data Model: 55
47 User Experience: 55
48 Big Data: 55
49 Artificial Neural Networks: 54
50 Design and Product: 54
51 Financial Accounting: 53
52 Cloud Applications: 53
53 Research and Design: 53
54 Computational Thinking: 51
55 Innovation: 49
56 Cloud Platforms: 49
57 Microsoft Excel: 49
58 Mathematical Theory & Analysis: 49
59 Network Security: 47
60 Operations Management: 47
61 Financial Management: 47
62 Machine Learning Software: 46
63 Business Communication: 46
64 Data Analysis Software: 45
65 Sales: 45
66 Business Psychology: 44
67 Transform: 43
68 Load: 43
69 Extract: 43
70 Customer Analysis: 42
71 Process Analysis: 42
72 Computational Logic: 41
73 Human Resources: 41
74 Cloud Storage: 41
75 Cloud Infrastructure: 41
76 Product Management: 40
77 Spreadsheet Software: 40
78 People Analysis: 40
79 People Management: 40
80 Data Science: 39
81 Creativity: 39
82 Performance Management: 38
83 Investment Management: 38
84 Application Development: 38
85 Business Process Management: 38
86 Statistical Tests: 38
87 Linux: 37
88 Google Cloud Platform: 37
89 Change Management: 36
90 User Experience Design: 36
91 Probability Distribution: 36
92 Visualization (Computer Graphics): 36
93 DevOps: 36
94 Plot (Graphics): 36
95 Business Transformation: 35
96 Theoretical Computer Science: 35
97 Digital Marketing: 35
98 Market Research: 34
99 Web Development: 34
100 Statistical Machine Learning: 34
101 Network Architecture: 34
102 System Security: 34
103 Human Computer Interaction: 34
104 General Accounting: 34
105 Business Development: 33
106 Correlation And Dependence: 33
107 Cloud-Based Integration: 32
108 Regulations and Compliance: 32
109 Media Strategy & Planning: 32
110 Basic Descriptive Statistics: 32
111 R Programming: 32
112 IBM Cloud: 32
113 Cryptography: 31
114 Brand Management: 31
115 Computer Networking: 31
116 Business Intelligence: 31
117 Statistical Visualization: 31
118 Software Engineering Tools: 31
119 Security Engineering: 30
120 Operating Systems: 30
121 Tensorflow: 30
122 Social Media: 30
123 Visual Design: 30
124 Software Architecture: 30
125 Leadership Development: 30
126 Professional Development: 29
127 Network Model: 29
128 Natural Language Processing: 29
129 Kubernetes: 28
130 Computer Architecture: 27
131 Product Strategy: 27
132 Supply Chain and Logistics: 27
133 Data Mining: 27
134 Cloud Management: 26
135 Agile Software Development: 26
136 Database Design: 26
137 Account Management: 26
138 People Development: 25
139 Accounts Payable and Receivable: 25
140 Customer Relationship Management: 25
141 Interactive Design: 25
142 Database Application: 25
143 Emotional Intelligence: 25
144 Data Visualization Software: 25
145 Interactive Data Visualization: 25
146 Marketing Management: 24
147 Other Cloud Platforms and Tools: 24
148 Computer Vision: 24
149 Javascript: 24
150 Product Design: 24
151 Web Development Tools: 24
152 Culture: 23
153 Product Development: 23
154 Software Testing: 23
155 Cost Accounting: 23
156 Conflict Management: 22
157 Software Security: 22
158 Computer Graphics: 22
159 Scrum (Software Development): 22
160 Data Warehousing: 21
161 Web Design: 21
162 Storytelling: 21
163 Negotiation: 21
164 Generally Accepted Accounting Principles (GAAP): 21
165 Data Architecture: 21
166 Systems Design: 21
167 User Research: 21
168 Database Theory: 21
169 Adaptability: 20
170 Google App Engine: 20
171 Operational Analysis: 20
172 Influencing: 19
173 Cloud Engineering: 19
174 Forecasting: 19
175 Behavioral Economics: 19
176 Estimation: 19
177 Database Administration: 19
178 Security Strategy: 19
179 Mergers & Acquisitions: 19
180 Computer Security Incident Management: 19
181 Linear Algebra: 18
182 System Software: 18
183 Cyberattacks: 18
184 Advertising: 18
185 Employee Relations: 18
186 Management Accounting: 18
187 Continuous Delivery: 18
188 Algebra: 18
189 Experiment: 18
190 NoSQL: 17
191 Feature Engineering: 17
192 Training: 17
193 Business Design: 17
194 Security Software: 17
195 Front-End Web Development: 17
196 Continuous Integration: 16
197 Marketing Design: 16
198 Calculus: 16
199 Budget Management: 16
200 Tableau Software: 16
201 Graph Theory: 16
202 Apache: 15
203 Cloud API: 15
204 Software-Defined Networking: 15
205 Payments: 15
206 E-Commerce: 15
207 Cash Management: 15
208 Search Engine Optimization: 14
209 Banking: 14
210 HTML and CSS: 14
211 Human Resources Operations: 14
212 Customer Success: 14
213 Distributed Computing Architecture: 14
214 BlockChain: 14
215 Taxes: 13
216 Networking Hardware: 13
217 React (web framework): 13
218 Graphic Design: 13
219 Computer Security Models: 12
220 Recruitment: 12
221 Reinforcement Learning: 12
222 Computer Graphic Techniques: 12
223 Java Programming: 11
224 FinTech: 11
225 Software As A Service: 11
226 Audit: 11
227 Product Marketing: 11
228 Customer Support: 11
229 Securities Trading: 11
230 Talent Management: 10
231 Benefits: 10
232 Entrepreneurial Finance: 10
233 Power BI: 10
234 Game Theory: 10
235 Amazon Web Services: 9
236 Persona Research: 9
237 Product Lifecycle: 9
238 Differential Equations: 9
239 Mobile Security: 9
240 Resilience: 9
241 Computer Science: 9
242 C Programming Language Family: 9
243 Contract Management: 9
244 Mobile Development: 9
245 Supply Chain Systems: 8
246 Cloud Standards: 8
247 Microsoft Azure: 8
248 PostgreSQL: 8
249 Applied Mathematics: 8
250 Docker (Software): 8
251 Network Analysis: 8
252 Inventory Management: 7
253 Public Relations: 7
254 Microarchitecture: 7
255 C++ Programming: 7
256 System Programming: 7
257 Mobile Development Tools: 7
258 Corporate Accouting: 6
259 Biostatistics: 6
260 B2B Sales: 6
261 Dimensionality Reduction: 6
262 Supplier Relationship Management: 6
263 Business Research: 6
264 Geometry: 6
265 Information Technology: 6
266 Warehouse Management: 6
267 Internet Of Things: 6
268 Other Programming Languages: 5
269 Material Handling: 5
270 Sales Systems: 5
271 Django (Web Framework): 5
272 Compensation: 5
273 Matlab: 5
274 Clinical Data Management: 5
275 Retail Sales: 5
276 Econometrics: 5
277 Health: 5
278 Hardware Design: 5
279 Bioinformatics: 5
280 Devops Tools: 5
281 Procurement: 4
282 Spatial Analysis: 4
283 Technical Product Management: 4
284 (1.7k reviews): 4
285 Securities Sales: 4
286 Geovisualization: 4
287 Journalism: 4
288 Transportation Operations Management: 4
289 Human Factors (Security): 4
290 Salesforce: 4
291 Back-End Web Development: 4
292 Accounting Software: 4
293 SAS (Software): 4
294 Billing & Invoicing: 4
295 Data Engineering: 4
296 Business: 3
297 Full-Stack Web Development: 3
298 iOS Development: 3
299 Small Data: 3
300 Android Development: 3
301 (1.5k reviews): 3
302 Bayesian Statistics: 3
303 Prospecting and Qualification: 3
304 Graphics Software: 3
305 Spatial Data Analysis: 3
306 ArcGIS: 3
307 GIS Software: 3
308 Cloud Clients: 3
309 Scientific Visualization: 3
310 Epidemiology: 3
311 Advertising Sales: 3
312 Marketing Psychology: 3
313 Shipping and Receiving: 3
314 Cloud Load Balancing: 3
315 Other Web Frameworks: 2
316 (9.9k reviews): 2
317 Survey Creation: 2
318 (4.7k reviews): 2
319 (9k reviews): 2
320 (5.7k reviews): 2
321 (2.3k reviews): 2
322 (4.8k reviews): 2
323 (2.1k reviews): 2
324 Swift Programming: 2
325 Media Production: 2
326 HR Tech: 2
327 (3.5k reviews): 2
328 Operations Research: 2
329 Semantic Web: 2
330 Combinatorics: 2
331 Software Visualization: 2
332 Knitr: 2
333 (32 reviews): 2
334 Bayesian Network: 2
335 Markov Model: 2
336 (50 reviews): 2
337 (4.9k reviews): 2
338 Retail Store Operations: 2
339 (3.1k reviews): 2
340 Scala Programming: 2
341 (2.2k reviews): 2
342 (496 reviews): 1
343 (919 reviews): 1
344 (36.9k reviews): 1
345 Cross Platform Development: 1
346 (40 reviews): 1
347 (159 reviews): 1
348 (123 reviews): 1
349 (2.5k reviews): 1
350 (71 reviews): 1
351 Beginner · Course · 1 - 3 Months: 1
352 Mixed · Course · 1 - 3 Months: 1
353 (14 reviews): 1
354 (1.9k reviews): 1
355 (501 reviews): 1
356 (83 reviews): 1
357 (1.4k reviews): 1
358 (11 reviews): 1
359 (211 reviews): 1
360 Inside Sales: 1
361 (1.3k reviews): 1
362 (2.4k reviews): 1
363 (227 reviews): 1
364 (86 reviews): 1
365 Merchandising: 1
366 (1.6k reviews): 1
367 (37 reviews): 1
368 Looker (Software): 1
369 (36 reviews): 1
370 (4k reviews): 1
371 (43 reviews): 1
372 (41 reviews): 1
373 (780 reviews): 1
374 (2.7k reviews): 1
375 (30.2k reviews): 1
376 (638 reviews): 1
377 (3.2k reviews): 1
378 Jira (Software): 1
379 Insurance Sales: 1
380 (18.4k reviews): 1
381 (361 reviews): 1
382 (2.8k reviews): 1
383 (714 reviews): 1
384 (33 reviews): 1
385 (10 reviews): 1
386 (441 reviews): 1
387 Virtual Reality: 1
388 (168 reviews): 1
389 (4.5k reviews): 1
390 (461 reviews): 1
391 (433 reviews): 1
392 (70 reviews): 1
393 (4.2k reviews): 1
394 (503 reviews): 1
395 (7.1k reviews): 1
396 (367 reviews): 1
397 (612 reviews): 1
398 (79 reviews): 1
399 Geostatistics: 1
400 (21 reviews): 1
401 Intermediate · Specialization · 3 - 6 Months: 1
402 (1.1k reviews): 1
403 (46 reviews): 1
404 (602 reviews): 1
405 Angular: 1
406 (866 reviews): 1
407 (59 reviews): 1
408 (95 reviews): 1
409 (30 reviews): 1
410 (171 reviews): 1
411 (343 reviews): 1
412 (641 reviews): 1
413 (285 reviews): 1
414 (164 reviews): 1
415 Beginner · Specialization · 3 - 6 Months: 1
416 (350 reviews): 1
417 (3.3k reviews): 1
418 (696 reviews): 1
419 (208 reviews): 1
420 (2k reviews): 1
421 (35 reviews): 1
422 (82 reviews): 1
423 (174 reviews): 1
424 (8 reviews): 1
425 (23 reviews): 1
426 (5.8k reviews): 1
427 (17 reviews): 1
428 (610 reviews): 1

In [ ]:
courser_v3_cleaned = courser_v2[~courser_v2['skills'].str.contains('reviews', case=False, na=False)]
courser_v3_cleaned = courser_v3_cleaned[~courser_v3_cleaned['skills'].str.contains('Months', case=False, na=False)]

courser_v3_cleaned.to_csv("coursera-v3.csv", index=False)

In [ ]:
courser_v3 = pd.read_csv('coursera-v3.csv')
courser_v3["skills_list"] = courser_v3["skills"].apply(
    lambda x: [s.strip().strip('"').strip() for s in x.strip("{}").split(",")]
)

skill_counts = (
    courser_v3.explode("skills_list")["skills_list"]
      .value_counts()
)

i=1
for skill, count in skill_counts.items():
    print(f"{i} {skill}: {count}")
    i=i+1

1 Leadership and Management: 329
2 Data Analysis: 242
3 Communication: 191
4 Strategy: 191
5 Computer Programming: 189
6 Critical Thinking: 176
7 Strategy and Operations: 165
8 Problem Solving: 165
9 Python Programming: 145
10 Business Analysis: 133
11 Machine Learning: 129
12 Planning: 120
13 Decision Making: 116
14 Algorithms: 116
15 Data Management: 115
16 Marketing: 109
17 Finance: 108
18 Cloud Computing: 106
19 Probability & Statistics: 97
20 Human Learning: 96
21 Machine Learning Algorithms: 85
22 Databases: 81
23 General Statistics: 81
24 Entrepreneurship: 81
25 Data Visualization: 79
26 SQL: 77
27 Collaboration: 76
28 Organizational Development: 76
29 Risk Management: 72
30 Exploratory Data Analysis: 70
31 Financial Analysis: 70
32 Statistical Analysis: 69
33 Project Management: 68
34 Applied Machine Learning: 68
35 Mathematics: 66
36 Data Structures: 64
37 Regression: 64
38 Software Engineering: 62
39 Programming Principles: 61
40 Deep Learning: 61
41 Market Analysis: 60
42 Accounting: 60
43 Statistical Programming: 60
44 Computer Programming Tools: 59
45 Writing: 57
46 Big Data: 55
47 Data Model: 55
48 User Experience: 55
49 Design and Product: 54
50 Artificial Neural Networks: 54
51 Financial Accounting: 53
52 Research and Design: 53
53 Cloud Applications: 53
54 Computational Thinking: 51
55 Innovation: 49
56 Cloud Platforms: 49
57 Mathematical Theory & Analysis: 49
58 Microsoft Excel: 49
59 Network Security: 47
60 Financial Management: 47
61 Operations Management: 47
62 Business Communication: 46
63 Machine Learning Software: 46
64 Sales: 45
65 Data Analysis Software: 45
66 Business Psychology: 44
67 Extract: 43
68 Transform: 43
69 Load: 43
70 Process Analysis: 42
71 Customer Analysis: 42
72 Cloud Storage: 41
73 Human Resources: 41
74 Cloud Infrastructure: 41
75 Computational Logic: 41
76 Spreadsheet Software: 40
77 People Analysis: 40
78 Product Management: 40
79 People Management: 40
80 Creativity: 39
81 Data Science: 39
82 Investment Management: 38
83 Application Development: 38
84 Business Process Management: 38
85 Performance Management: 38
86 Statistical Tests: 38
87 Google Cloud Platform: 37
88 Linux: 37
89 Change Management: 36
90 Probability Distribution: 36
91 Visualization (Computer Graphics): 36
92 Plot (Graphics): 36
93 DevOps: 36
94 User Experience Design: 36
95 Business Transformation: 35
96 Digital Marketing: 35
97 Theoretical Computer Science: 35
98 Statistical Machine Learning: 34
99 Human Computer Interaction: 34
100 Web Development: 34
101 Network Architecture: 34
102 System Security: 34
103 General Accounting: 34
104 Market Research: 34
105 Business Development: 33
106 Correlation And Dependence: 33
107 R Programming: 32
108 Basic Descriptive Statistics: 32
109 Media Strategy & Planning: 32
110 IBM Cloud: 32
111 Cloud-Based Integration: 32
112 Regulations and Compliance: 32
113 Business Intelligence: 31
114 Software Engineering Tools: 31
115 Cryptography: 31
116 Brand Management: 31
117 Computer Networking: 31
118 Statistical Visualization: 31
119 Visual Design: 30
120 Tensorflow: 30
121 Software Architecture: 30
122 Leadership Development: 30
123 Social Media: 30
124 Operating Systems: 30
125 Security Engineering: 30
126 Professional Development: 29
127 Network Model: 29
128 Natural Language Processing: 29
129 Kubernetes: 28
130 Computer Architecture: 27
131 Supply Chain and Logistics: 27
132 Data Mining: 27
133 Product Strategy: 27
134 Database Design: 26
135 Account Management: 26
136 Agile Software Development: 26
137 Cloud Management: 26
138 Emotional Intelligence: 25
139 Accounts Payable and Receivable: 25
140 Database Application: 25
141 Interactive Design: 25
142 Interactive Data Visualization: 25
143 People Development: 25
144 Customer Relationship Management: 25
145 Data Visualization Software: 25
146 Marketing Management: 24
147 Web Development Tools: 24
148 Other Cloud Platforms and Tools: 24
149 Javascript: 24
150 Computer Vision: 24
151 Product Design: 24
152 Cost Accounting: 23
153 Product Development: 23
154 Software Testing: 23
155 Culture: 23
156 Software Security: 22
157 Conflict Management: 22
158 Scrum (Software Development): 22
159 Computer Graphics: 22
160 Systems Design: 21
161 Data Warehousing: 21
162 Database Theory: 21
163 User Research: 21
164 Generally Accepted Accounting Principles (GAAP): 21
165 Web Design: 21
166 Data Architecture: 21
167 Storytelling: 21
168 Negotiation: 21
169 Adaptability: 20
170 Google App Engine: 20
171 Operational Analysis: 20
172 Computer Security Incident Management: 19
173 Mergers & Acquisitions: 19
174 Database Administration: 19
175 Influencing: 19
176 Behavioral Economics: 19
177 Cloud Engineering: 19
178 Estimation: 19
179 Security Strategy: 19
180 Forecasting: 19
181 Employee Relations: 18
182 Management Accounting: 18
183 Advertising: 18
184 Cyberattacks: 18
185 System Software: 18
186 Algebra: 18
187 Experiment: 18
188 Linear Algebra: 18
189 Continuous Delivery: 18
190 Feature Engineering: 17
191 Training: 17
192 Security Software: 17
193 Business Design: 17
194 NoSQL: 17
195 Front-End Web Development: 17
196 Budget Management: 16
197 Continuous Integration: 16
198 Calculus: 16
199 Marketing Design: 16
200 Tableau Software: 16
201 Graph Theory: 16
202 Apache: 15
203 E-Commerce: 15
204 Payments: 15
205 Cash Management: 15
206 Cloud API: 15
207 Software-Defined Networking: 15
208 BlockChain: 14
209 Banking: 14
210 HTML and CSS: 14
211 Customer Success: 14
212 Distributed Computing Architecture: 14
213 Search Engine Optimization: 14
214 Human Resources Operations: 14
215 Networking Hardware: 13
216 React (web framework): 13
217 Graphic Design: 13
218 Taxes: 13
219 Computer Graphic Techniques: 12
220 Computer Security Models: 12
221 Recruitment: 12
222 Reinforcement Learning: 12
223 Securities Trading: 11
224 FinTech: 11
225 Java Programming: 11
226 Customer Support: 11
227 Product Marketing: 11
228 Software As A Service: 11
229 Audit: 11
230 Benefits: 10
231 Talent Management: 10
232 Game Theory: 10
233 Entrepreneurial Finance: 10
234 Power BI: 10
235 Computer Science: 9
236 Resilience: 9
237 Mobile Security: 9
238 Contract Management: 9
239 Amazon Web Services: 9
240 Mobile Development: 9
241 C Programming Language Family: 9
242 Persona Research: 9
243 Differential Equations: 9
244 Product Lifecycle: 9
245 Applied Mathematics: 8
246 Network Analysis: 8
247 PostgreSQL: 8
248 Docker (Software): 8
249 Supply Chain Systems: 8
250 Cloud Standards: 8
251 Microsoft Azure: 8
252 C++ Programming: 7
253 Mobile Development Tools: 7
254 Public Relations: 7
255 System Programming: 7
256 Inventory Management: 7
257 Microarchitecture: 7
258 Internet Of Things: 6
259 Warehouse Management: 6
260 Information Technology: 6
261 Corporate Accouting: 6
262 Biostatistics: 6
263 Supplier Relationship Management: 6
264 Dimensionality Reduction: 6
265 Geometry: 6
266 B2B Sales: 6
267 Business Research: 6
268 Matlab: 5
269 Hardware Design: 5
270 Health: 5
271 Django (Web Framework): 5
272 Compensation: 5
273 Devops Tools: 5
274 Clinical Data Management: 5
275 Retail Sales: 5
276 Econometrics: 5
277 Material Handling: 5
278 Sales Systems: 5
279 Bioinformatics: 5
280 Other Programming Languages: 5
281 Geovisualization: 4
282 Spatial Analysis: 4
283 Back-End Web Development: 4
284 Accounting Software: 4
285 Salesforce: 4
286 Data Engineering: 4
287 Procurement: 4
288 Technical Product Management: 4
289 Journalism: 4
290 Securities Sales: 4
291 Human Factors (Security): 4
292 Transportation Operations Management: 4
293 SAS (Software): 4
294 Billing & Invoicing: 4
295 iOS Development: 3
296 Graphics Software: 3
297 Full-Stack Web Development: 3
298 Bayesian Statistics: 3
299 Epidemiology: 3
300 Scientific Visualization: 3
301 Prospecting and Qualification: 3
302 Android Development: 3
303 Small Data: 3
304 Business: 3
305 Spatial Data Analysis: 3
306 ArcGIS: 3
307 Cloud Clients: 3
308 Cloud Load Balancing: 3
309 GIS Software: 3
310 Marketing Psychology: 3
311 Shipping and Receiving: 3
312 Advertising Sales: 3
313 Combinatorics: 2
314 Swift Programming: 2
315 Other Web Frameworks: 2
316 Survey Creation: 2
317 Software Visualization: 2
318 Markov Model: 2
319 Bayesian Network: 2
320 Media Production: 2
321 Retail Store Operations: 2
322 HR Tech: 2
323 Semantic Web: 2
324 Operations Research: 2
325 Knitr: 2
326 Scala Programming: 2
327 Merchandising: 1
328 Looker (Software): 1
329 Jira (Software): 1
330 Insurance Sales: 1
331 Virtual Reality: 1
332 Geostatistics: 1
333 Angular: 1
334 Cross Platform Development: 1
335 Inside Sales: 1

<h3>1) Most Frequent Skills</h3>

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
#Read Data
courser_v3 = pd.read_csv("coursera-v3.csv")

In [ ]:
## 2. CLEAN / PARSE SKILLS
# turns this: {" Data Analysis"," SQL"," Python"}
# into: ["Data Analysis", "SQL", "Python"]
courser_v3["skills_list"] = courser_v3["skills"].apply(
    lambda x: [
        s.strip().strip('"').strip() 
        for s in x.strip("{}").split(",")
    ]
)

In [ ]:
# 3. COUNT FREQUENCY OF ALL SKILLS
skill_counts = courser_v3.explode("skills_list")["skills_list"].value_counts()

In [ ]:
# 4. SELECT TOP 25 SKILLS
top_N = 25
top_skills = skill_counts.head(top_N).index.tolist()

print("Top 25 Skills:")
print(top_skills)

Top 25 Skills:
['Leadership and Management', 'Data Analysis', 'Communication', 'Strategy', 'Computer Programming', 'Critical Thinking', 'Strategy and Operations', 'Problem Solving', 'Python Programming', 'Business Analysis', 'Machine Learning', 'Planning', 'Decision Making', 'Algorithms', 'Data Management', 'Marketing', 'Finance', 'Cloud Computing', 'Probability & Statistics', 'Human Learning', 'Machine Learning Algorithms', 'Databases', 'General Statistics', 'Entrepreneurship', 'Data Visualization']

In [ ]:
# 5. FILTER SKILLS TO ONLY TOP 25
courser_v3["filtered_skills"] = courser_v3["skills_list"].apply(
    lambda skills: [s for s in skills if s in top_skills]
)

In [ ]:
# 6. CREATE ONE-HOT (0/1) COLUMNS
mlb = MultiLabelBinarizer()
binary_matrix = mlb.fit_transform(courser_v3["filtered_skills"])

binary_df = pd.DataFrame(binary_matrix, columns=mlb.classes_)

In [ ]:
# 7. MERGE BACK INTO DATASET
courser_v3 = pd.concat([courser_v3, binary_df], axis=1)
courser_v3

,course_title,skills,rating,review_count,level,duration,skills_list,filtered_skills,Algorithms,Business Analysis,...,Leadership and Management,Machine Learning,Machine Learning Algorithms,Marketing,Planning,Probability & Statistics,Problem Solving,Python Programming,Strategy,Strategy and Operations
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months,"[Network Security, Python Programming, Linux, ...","[Python Programming, Cloud Computing, Algorith...",1,0,...,1,0,0,0,0,0,0,1,0,0
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months,"[Data Analysis, R Programming, SQL, Business C...","[Data Analysis, Business Analysis, Data Visual...",0,1,...,1,0,0,0,0,0,1,0,0,0
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months,"[Project Management, Strategy and Operations, ...","[Strategy and Operations, Leadership and Manag...",0,0,...,1,0,0,0,1,0,1,0,0,1
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months,"[Digital Marketing, Marketing, Marketing Manag...","[Marketing, Data Analysis, Communication, Stra...",0,0,...,0,0,0,1,0,0,0,0,1,0
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months,"[Computer Networking, Network Architecture, Ne...","[Critical Thinking, Problem Solving, Communica...",0,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months,"[Communication, Human Resources, Strategy, Wri...","[Communication, Strategy, Leadership and Manag...",0,0,...,1,0,0,1,0,0,0,0,1,0
885,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months,"[Sales, Marketing, Strategy, Leadership and Ma...","[Marketing, Strategy, Leadership and Managemen...",0,1,...,1,0,0,1,0,0,0,0,1,1
886,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months,"[Finance, Investment Management, Financial Ana...","[Finance, Leadership and Management, Business ...",0,1,...,1,0,0,0,0,1,0,0,0,0
887,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months,"[Entrepreneurship, Leadership and Management, ...","[Entrepreneurship, Leadership and Management, ...",0,1,...,1,0,0,1,0,0,1,0,1,1
888,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours,[Microsoft Excel],[],0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# 8. SAVE THE RESULT
courser_v3.to_csv("courses-with-top25-skills.csv", index=False)

<h3>2) TF-IDF Skill Importance</h3>

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer

In [ ]:
# READ DATA
courser_v3 = pd.read_csv("coursera-v3.csv")

In [ ]:
# 2. CLEAN / PARSE SKILLS
courser_v3["skills_list"] = courser_v3["skills"].apply(
    lambda x: [
        s.strip().strip('"').strip()
        for s in x.strip("{}").split(",")
    ]
)
# Convert list → text so TF-IDF can process it
courser_v3["skills_text"] = courser_v3["skills_list"].apply(lambda x: " ".join(x))

In [ ]:
# 3. TF-IDF VECTORIZE
vectorizer = TfidfVectorizer(tokenizer=lambda x: x.split(), lowercase=False)
tfidf_matrix = vectorizer.fit_transform(courser_v3["skills_text"])

# Extract vocabulary + scores
feature_names = vectorizer.get_feature_names_out()
tfidf_sums = tfidf_matrix.sum(axis=0).A1  # sum TF-IDF for each skill

# Create a dataframe of (skill, score)
tfidf_scores = pd.DataFrame({
    "skill": feature_names,
    "score": tfidf_sums
})

C:\Users\habee\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:517: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [ ]:
# 4. SELECT TOP 25 TF-IDF SKILLS
top_N = 25
top_skills = (
    tfidf_scores.sort_values("score", ascending=False)
                 .head(top_N)["skill"]
                 .tolist()
)

print("Top 25 TF-IDF Skills:")
print(top_skills)

Top 25 TF-IDF Skills:
['Management', 'Data', 'Analysis', 'Programming', 'and', 'Learning', 'Computer', 'Strategy', 'Leadership', 'Cloud', 'Machine', 'Communication', 'Business', 'Development', 'Software', 'Design', 'Thinking', 'Marketing', 'Operations', 'Accounting', 'Critical', 'Security', 'Statistical', 'Statistics', 'Planning']

In [ ]:
# 5. FILTER SKILLS USING TOP TF-IDF SKILLS
courser_v3["filtered_skills"] = courser_v3["skills_list"].apply(
    lambda skills: [s for s in skills if s in top_skills]
)

In [ ]:
# 6. CREATE ONE-HOT (0/1) COLUMNS
mlb = MultiLabelBinarizer()
binary_matrix = mlb.fit_transform(courser_v3["filtered_skills"])

binary_df = pd.DataFrame(binary_matrix, columns=mlb.classes_)

In [ ]:
# 7. MERGE INTO MAIN DF
courser_v3 = pd.concat([courser_v3, binary_df], axis=1)
courser_v3

,course_title,skills,rating,review_count,level,duration,skills_list,skills_text,filtered_skills,Accounting,Business,Communication,Marketing,Planning,Strategy
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months,"[Network Security, Python Programming, Linux, ...",Network Security Python Programming Linux Clou...,[],0,0,0,0,0,0
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months,"[Data Analysis, R Programming, SQL, Business C...",Data Analysis R Programming SQL Business Commu...,[Communication],0,0,1,0,0,0
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months,"[Project Management, Strategy and Operations, ...",Project Management Strategy and Operations Lea...,"[Communication, Planning]",0,0,1,0,1,0
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months,"[Digital Marketing, Marketing, Marketing Manag...",Digital Marketing Marketing Marketing Manageme...,"[Marketing, Communication, Strategy]",0,0,1,1,0,1
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months,"[Computer Networking, Network Architecture, Ne...",Computer Networking Network Architecture Netwo...,[Communication],0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months,"[Communication, Human Resources, Strategy, Wri...",Communication Human Resources Strategy Writing...,"[Communication, Strategy, Marketing]",0,0,1,1,0,1
885,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months,"[Sales, Marketing, Strategy, Leadership and Ma...",Sales Marketing Strategy Leadership and Manage...,"[Marketing, Strategy]",0,0,0,1,0,1
886,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months,"[Finance, Investment Management, Financial Ana...",Finance Investment Management Financial Analys...,[Accounting],1,0,0,0,0,0
887,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months,"[Entrepreneurship, Leadership and Management, ...",Entrepreneurship Leadership and Management Inn...,"[Strategy, Marketing, Communication]",0,0,1,1,0,1
888,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours,[Microsoft Excel],Microsoft Excel,[],0,0,0,0,0,0

In [ ]:
# 8. SAVE FINAL RESULT
courser_v3.to_csv("courses-with-top25-tfidf-skills.csv", index=False)

<h3>3) Semantic clustering</h3>

In [ ]:
#install the library
#!pip install -U sentence-transformers

In [ ]:
from sentence_transformers import SentenceTransformer
from sklearn.cluster import MiniBatchKMeans
from sklearn.metrics.pairwise import cosine_similarity
from tqdm import tqdm
import os

In [ ]:
INPUT_CSV = "coursera-v3.csv"               # change to your csv path
SKILLS_COL = "skills"                     # column with skills like {" SQL"," Python",...}
K = 25                                    # number of representative skills (20-25 recommended)
EMBED_MODEL = "all-MiniLM-L6-v2"          # small+fast; change if you prefer
RANDOM_STATE = 42
OUTPUT_PREFIX = "embedding_clustering"    # prefix for saved files

In [ ]:
# 1) Read + parse skills
courser_v3 = pd.read_csv(INPUT_CSV)

def parse_skills_cell(cell):
    """Turn: {" SQL"," Python"} -> ['SQL','Python'] (robust)"""
    if pd.isna(cell):
        return []
    s = str(cell).strip()
    if s.startswith("{") and s.endswith("}"):
        s = s[1:-1]
    # split by comma but handle possible comma inside skill (rare)
    parts = [p.strip().strip('"').strip() for p in s.split(",") if p.strip() != ""]
    # remove empty strings and normalize whitespace
    parts = [ " ".join(p.split()) for p in parts if p != "" ]
    return parts

courser_v3["skills_list"] = courser_v3[SKILLS_COL].apply(parse_skills_cell)

# Build unique skill list and frequency
all_skills = courser_v3.explode("skills_list")["skills_list"].dropna()
skill_counts = all_skills.value_counts()
unique_skills = skill_counts.index.tolist()
print(f"Unique skills found: {len(unique_skills)}")

Unique skills found: 335

In [ ]:
# 2) Compute embeddings for unique skills
model = SentenceTransformer(EMBED_MODEL)
# encode in batches for memory safety
batch_size = 128
embeddings = []
for i in range(0, len(unique_skills), batch_size):
    batch = unique_skills[i:i+batch_size]
    emb = model.encode(batch, show_progress_bar=False, normalize_embeddings=True)  # normalized helps cosine
    embeddings.append(emb)
embeddings = np.vstack(embeddings)  # shape (n_skills, dim)
print("Embeddings computed. Shape:", embeddings.shape)

'(ReadTimeoutError("HTTPSConnectionPool(host='huggingface.co', port=443): Read timed out. (read timeout=10)"), '(Request ID: d75a6b88-df64-4e61-b5c6-f7e4da7c12a9)')' thrown while requesting HEAD https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2/resolve/main/./modules.json
Retrying in 1s [Retry 1/5].
'(ReadTimeoutError("HTTPSConnectionPool(host='huggingface.co', port=443): Read timed out. (read timeout=10)"), '(Request ID: aeadbc6f-ea8c-4739-b77a-98f5c1252faf)')' thrown while requesting HEAD https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2/resolve/main/./modules.json
Retrying in 2s [Retry 2/5].
'(ReadTimeoutError("HTTPSConnectionPool(host='huggingface.co', port=443): Read timed out. (read timeout=10)"), '(Request ID: 96fae7ce-8c53-4bd2-ba41-5ffe456e7369)')' thrown while requesting HEAD https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2/resolve/main/./modules.json
Retrying in 4s [Retry 3/5].
'(ReadTimeoutError("HTTPSConnectionPool(host='huggingface.co', port=443): Read timed out. (read timeout=10)"), '(Request ID: 9ec7f47c-0b05-4328-9e16-8ee826f67530)')' thrown while requesting HEAD https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2/resolve/main/./modules.json
Retrying in 8s [Retry 4/5].
'(ReadTimeoutError("HTTPSConnectionPool(host='huggingface.co', port=443): Read timed out. (read timeout=10)"), '(Request ID: 9ba0e39d-e94e-44be-a5e0-a33eb53f5f4a)')' thrown while requesting HEAD https://huggingface.co/api/resolve-cache/models/sentence-transformers/all-MiniLM-L6-v2/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config_sentence_transformers.json
Retrying in 1s [Retry 1/5].
'(ReadTimeoutError("HTTPSConnectionPool(host='huggingface.co', port=443): Read timed out. (read timeout=10)"), '(Request ID: fa935d8b-8844-4678-adaf-872a396f0798)')' thrown while requesting HEAD https://huggingface.co/api/resolve-cache/models/sentence-transformers/all-MiniLM-L6-v2/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config_sentence_transformers.json
Retrying in 2s [Retry 2/5].
'(ReadTimeoutError("HTTPSConnectionPool(host='huggingface.co', port=443): Read timed out. (read timeout=10)"), '(Request ID: c145778d-d341-4deb-97d1-417d2593060c)')' thrown while requesting HEAD https://huggingface.co/api/resolve-cache/models/sentence-transformers/all-MiniLM-L6-v2/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config_sentence_transformers.json
Retrying in 4s [Retry 3/5].

Embeddings computed. Shape: (335, 384)

In [ ]:
# 4) Cluster embeddings with MiniBatchKMeans
k = K
kmeans = MiniBatchKMeans(n_clusters=k, random_state=RANDOM_STATE, batch_size=256)
kmeans.fit(embeddings)
cluster_labels = kmeans.labels_
centroids = kmeans.cluster_centers_  # shape (k, dim)

C:\Users\habee\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1952: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 2048 or by setting the environment variable OMP_NUM_THREADS=1
  warnings.warn(

In [ ]:
# 5) For each cluster choose representative skill
# Two options: 'most_frequent' OR 'closest_to_centroid'
# We'll choose most_frequent when available, else fallback to closest_to_centroid.

skill_to_cluster = dict(zip(unique_skills, cluster_labels))
cluster_to_skills = {i: [] for i in range(k)}
for skill, cl in skill_to_cluster.items():
    cluster_to_skills[cl].append(skill)

# Precompute mapping skill -> freq
freq_map = skill_counts.to_dict()

representatives = []
for cl in range(k):
    skills_in_cl = cluster_to_skills[cl]
    if len(skills_in_cl) == 0:
        representatives.append(None)
        continue
    # find the most frequent skill in this cluster
    most_freq_skill = max(skills_in_cl, key=lambda s: freq_map.get(s, 0))
    # find closest-to-centroid candidate
    indices = [unique_skills.index(s) for s in skills_in_cl]
    cl_embs = embeddings[indices]
    centroid = centroids[cl]
    # cosine similarity since embeddings were normalized, dot product ~ cosine
    sims = cl_embs.dot(centroid)
    closest_skill = skills_in_cl[int(np.argmax(sims))]
    # choose: prefer most_freq_skill unless it's frequency==1 and there exists a better medium frequency,
    # but generally most_freq_skill is good for explainability. We'll pick most frequent.
    rep_skill = most_freq_skill
    representatives.append({
        "cluster": cl,
        "representative": rep_skill,
        "rep_freq": freq_map.get(rep_skill, 0),
        "closest_skill": closest_skill,
        "cluster_size": len(skills_in_cl)
    })

rep_df = pd.DataFrame(representatives)
print("Representative skills (per cluster):")
print(rep_df.head(30))

Representative skills (per cluster):
    cluster              representative  rep_freq               closest_skill  \
0         0                   Transform        43                  Salesforce
1         1                    Big Data        55                    Big Data
2         2                    Strategy       191             Decision Making
3         3           Customer Analysis        42            Customer Support
4         4           Business Analysis       133           Business Analysis
5         5                     Finance       108                  Accounting
6         6             User Experience        55               Visual Design
7         7        Network Architecture        34        Network Architecture
8         8      Reinforcement Learning        12      Reinforcement Learning
9         9                      DevOps        36       Web Development Tools
10       10            Network Security        47           Security Software
11       11             Cloud Computing       106          Cloud Applications
12       12        Computer Programming       189          System Programming
13       13   Leadership and Management       329       Operations Management
14       14  Computer Programming Tools        59  Computer Programming Tools
15       15                       Sales        45                       Sales
16       16               Communication       191            Media Production
17       17                   Marketing       109                   Marketing
18       18           Critical Thinking       176            Computer Science
19       19             Human Resources        41             Human Resources
20       20             Data Management       115                   Databases
21       21  Organizational Development        76        Business Development
22       22          Data Visualization        79          Data Visualization
23       23              Human Learning        96  Human Computer Interaction
24       24               Data Analysis       242            Machine Learning

    cluster_size
0             16
1              4
2             14
3              5
4             19
5             18
6             18
7             10
8              1
9             12
10             9
11            18
12            14
13            21
14            18
15            10
16            13
17             9
18            11
19            14
20            16
21            13
22            10
23             4
24            38

In [ ]:
# 6) Create filtered skills per course keeping only chosen representatives
rep_set = set(rep_df["representative"].dropna().tolist())

def keep_reps(skills):
    return [s for s in (skills or []) if s in rep_set]

courser_v3["filtered_representative_skills"] = courser_v3["skills_list"].apply(keep_reps)

In [ ]:
# 7) Binarize into 0/1 columns
# We want columns in a stable order: use the representatives in cluster order
rep_order = rep_df["representative"].tolist()
# Clean rep_order remove Nones and duplicates (just in case)
rep_order = [r for r in rep_order if r is not None]
rep_order = list(dict.fromkeys(rep_order))

for rep in rep_order:
    courser_v3[f"skill__{rep}"] = courser_v3["filtered_representative_skills"].apply(lambda sl: 1 if rep in sl else 0)

In [ ]:
# 8) Save artifacts
os.makedirs("output", exist_ok=True)
rep_df.to_csv(os.path.join("output", f"{OUTPUT_PREFIX}_representatives.csv"), index=False)
# Save mapping skill -> cluster
map_df = pd.DataFrame({
    "skill": unique_skills,
    "cluster": cluster_labels
})
map_df["freq"] = map_df["skill"].map(freq_map)
map_df.to_csv(os.path.join("output", f"{OUTPUT_PREFIX}_skill_clusters.csv"), index=False)
# Save final dataset
courser_v3.to_csv(os.path.join("output", f"{OUTPUT_PREFIX}_courses_with_representatives.csv"), index=False)

print("Saved:")
print(" - representatives ->", os.path.join("output", f"{OUTPUT_PREFIX}_representatives.csv"))
print(" - skill->cluster map ->", os.path.join("output", f"{OUTPUT_PREFIX}_skill_clusters.csv"))
print(" - final dataset ->", os.path.join("output", f"{OUTPUT_PREFIX}_courses_with_representatives.csv"))

Saved:
 - representatives -> output\embedding_clustering_representatives.csv
 - skill->cluster map -> output\embedding_clustering_skill_clusters.csv
 - final dataset -> output\embedding_clustering_courses_with_representatives.csv

In [ ]:
# 9) Quick coverage check (how many courses have at least one rep)
courser_v3["has_rep"] = courser_v3[[f"skill__{r}" for r in rep_order]].sum(axis=1) > 0
coverage = courser_v3["has_rep"].mean()
print(f"Coverage: {coverage*100:.2f}% of courses contain at least one representative skill")

Coverage: 87.96% of courses contain at least one representative skill

In [ ]:
courser_v3

,course_title,skills,rating,review_count,level,duration,skills_list,filtered_representative_skills,skill__Transform,skill__Big Data,...,skill__Communication,skill__Marketing,skill__Critical Thinking,skill__Human Resources,skill__Data Management,skill__Organizational Development,skill__Data Visualization,skill__Human Learning,skill__Data Analysis,has_rep
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months,"[Network Security, Python Programming, Linux, ...","[Network Security, Cloud Computing, Computer P...",0,0,...,0,0,0,0,0,0,0,0,0,True
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months,"[Data Analysis, R Programming, SQL, Business C...","[Data Analysis, Business Analysis, Data Visual...",1,1,...,1,0,0,0,1,0,1,0,1,True
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months,"[Project Management, Strategy and Operations, ...","[Leadership and Management, Communication, Fin...",0,0,...,1,0,0,0,0,1,0,0,0,True
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months,"[Digital Marketing, Marketing, Marketing Manag...","[Marketing, Sales, Data Analysis, Communicatio...",0,0,...,1,1,0,0,1,0,0,0,1,True
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months,"[Computer Networking, Network Architecture, Ne...","[Network Architecture, Critical Thinking, Comm...",0,0,...,1,0,1,0,0,0,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months,"[Communication, Human Resources, Strategy, Wri...","[Communication, Human Resources, Strategy, Lea...",0,0,...,1,1,1,1,0,0,0,0,0,True
885,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months,"[Sales, Marketing, Strategy, Leadership and Ma...","[Sales, Marketing, Strategy, Leadership and Ma...",0,0,...,0,1,0,0,0,0,0,0,0,True
886,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months,"[Finance, Investment Management, Financial Ana...","[Finance, Leadership and Management, Business ...",0,0,...,0,0,0,0,0,0,0,0,0,True
887,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months,"[Entrepreneurship, Leadership and Management, ...","[Leadership and Management, Strategy, Critical...",0,0,...,1,1,1,1,0,0,0,1,0,True
888,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours,[Microsoft Excel],[],0,0,...,0,0,0,0,0,0,0,0,0,False

In [ ]:
# 9. CLEAN AND SAVE FINAL RESULT
# Save the final processed dataset
courser_v3.to_csv("courses-with-embedding-representatives.csv", index=False)