In [3]:
import pandas as pd
import numpy as np

In [4]:
coursera = pd.read_csv("Coursera.csv")

In [5]:
coursera

,partner,course,skills,rating,reviewcount,level,certificatetype,duration,crediteligibility
0,Google,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,Professional Certificate,3 - 6 Months,False
1,Google,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,Professional Certificate,3 - 6 Months,True
2,Google,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,Professional Certificate,3 - 6 Months,True
3,Google,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,Professional Certificate,3 - 6 Months,False
4,Google,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,Professional Certificate,3 - 6 Months,True
...,...,...,...,...,...,...,...,...,...
1134,IIT Guwahati,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1135,IE Business School,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1136,IIT Roorkee,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1137,IIT Bombay,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1138,University of Illinois,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,Graduate Certificate,6 - 12 Months,True

In [6]:
coursera.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139 entries, 0 to 1138
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   partner            1139 non-null   object
 1   course             1139 non-null   object
 2   skills             1088 non-null   object
 3   rating             993 non-null    float64
 4   reviewcount        993 non-null    object
 5   level              1004 non-null   object
 6   certificatetype    1116 non-null   object
 7   duration           1116 non-null   object
 8   crediteligibility  1139 non-null   bool
dtypes: bool(1), float64(1), object(7)
memory usage: 72.4+ KB

In [7]:
#Droping 'partner','certificatetype','crediteligibility' columns from data because it'll not be useful in tranining
try:
    coursera = coursera.drop(['partner','certificatetype','crediteligibility'],axis=1)
except Exception as ex:
    print("Data has been already processed")

In [8]:
coursera

,course,skills,rating,reviewcount,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1134,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1137,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

<h1>Data Featuring</h1>

In [9]:
#Normalization of the column names
try:
    coursera = coursera.rename(
        columns={
            "course": "course_title",
            "reviewcount": "review_count"
        }
    )
except:
    print("columns has been changing")

In [10]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1134,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1137,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

<h3>Handling the Missing values</h3>

In [11]:
#the null values insights
coursera.isna().sum()

course_title      0
skills           51
rating          146
review_count    146
level           135
duration         23
dtype: int64

In [12]:
#Dropping the null values from skills column
coursera = coursera.dropna(subset=['skills'])

In [13]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

In [14]:
#checking the missing value precentage for reveiw count
missing_percent = coursera['review_count'].isna().mean() * 100
print(missing_percent)

8.731617647058822

In [15]:
#If missing % is too high (> 20–30%), mean imputation becomes bad.
if missing_percent < 10:
    print("OK to consider imputation")
else:
    print("Too many NaNs — consider dropping column or advanced imputation")

OK to consider imputation

In [16]:
#removing the 'k' from the review_count to numerical values
def convert_k_to_number(x):
    if isinstance(x, str):
        if 'k' in x.lower():
            return float(x.lower().replace('k','')) * 1000
        else:
            return float(x)
    return x

In [17]:
coursera = coursera.copy()

In [18]:
coursera['review_count'] = coursera['review_count'].apply(convert_k_to_number)

In [19]:
skew = coursera['review_count'].skew()
print(skew)

6.456920167332805

In [20]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

In [21]:
#replacing the null/nan values with the mean of the review count column
coursera['review_count'] = coursera['review_count'].fillna(coursera['review_count'].mean())

In [23]:
#replacing the null/nan values with the mean of the rating column
coursera['rating'] = coursera['rating'].fillna(coursera['rating'].mean())

In [24]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.800000,16400.000000,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.800000,133400.000000,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.800000,97300.000000,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.800000,21400.000000,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.800000,181400.000000,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",4.677241,7827.922457,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",4.677241,7827.922457,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",4.677241,7827.922457,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",4.677241,7827.922457,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",4.677241,7827.922457,NaN,6 - 12 Months

In [53]:
coursera = coursera.dropna(subset=['level'])
coursera = coursera.dropna(subset=['duration'])

In [54]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [55]:
coursera.isna().sum()

course_title    0
skills          0
rating          0
review_count    0
level           0
duration        0
dtype: int64

In [28]:
coursera.to_csv('coursera-v1.csv', index=False)

In [29]:
pd.read_csv("coursera-v1.csv")

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
995,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
996,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
997,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
998,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
999,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [30]:
#cleaning the skills column
coursera['skills'] = coursera['skills'].astype(str)

In [31]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [32]:
#Taking a copy from orginial data set
new_coursera = coursera.copy()

In [33]:
new_coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [34]:
# Force string
new_coursera['skills'] = new_coursera['skills'].astype(str)

# Remove braces and quotes + normalize commas
new_coursera['skills'] = (
    new_coursera['skills']
        .str.replace(r'[{}"]', '', regex=True)
        .str.replace(r'\s*,\s*', ',', regex=True)
)

# Convert to list
new_coursera['skills'] = new_coursera['skills'].apply(lambda x: x.split(',') if x != 'nan' else [])

In [35]:
new_coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"[ Network Security, Python Programming, Linux,...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"[ Data Analysis, R Programming, SQL, Business ...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"[ Project Management, Strategy and Operations,...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"[ Digital Marketing, Marketing, Marketing Mana...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"[ Computer Networking, Network Architecture, N...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"[ Communication, Human Resources, Strategy, Wr...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"[ Sales, Marketing, Strategy, Leadership and M...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"[ Finance, Investment Management, Financial An...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"[ Entrepreneurship, Leadership and Management,...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,[ Microsoft Excel],4.6,52.0,Beginner,Less Than 2 Hours

In [36]:
new_coursera.isna().sum()

course_title    0
skills          0
rating          0
review_count    0
level           0
duration        0
dtype: int64

In [56]:
coursera.to_csv('coursera-v2.csv', index=False)

In [37]:
missing_values_count = new_coursera.isnull().sum()
missing_values_count

course_title    0
skills          0
rating          0
review_count    0
level           0
duration        0
dtype: int64

In [58]:
# how many total missing values do we have?
total_cells = np.product(new_coursera.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

0.0

In [51]:
import sys
!{sys.executable} -m pip install mlxtend

Collecting mlxtend
  Using cached mlxtend-0.23.4-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in /opt/miniconda3/lib/python3.12/site-packages (from mlxtend) (1.12.0)
Requirement already satisfied: numpy>=1.16.2 in /opt/miniconda3/lib/python3.12/site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in /opt/miniconda3/lib/python3.12/site-packages (from mlxtend) (2.2.1)
Requirement already satisfied: scikit-learn>=1.3.1 in /opt/miniconda3/lib/python3.12/site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/miniconda3/lib/python3.12/site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in /opt/miniconda3/lib/python3.12/site-packages (from mlxtend) (1.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in /opt/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/miniconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/miniconda3/lib/python3.12/site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Using cached mlxtend-0.23.4-py3-none-any.whl (1.4 MB)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.4

In [52]:
# modules we'll use
import pandas as pd
import numpy as np

# for Box-Cox Transformation
from scipy import stats

# for min_max scaling
from mlxtend.preprocessing import minmax_scaling

# plotting modules
import seaborn as sns
import matplotlib.pyplot as plt

# set seed for reproducibility
np.random.seed(0)