In [2]:
import pandas as pd
import numpy as np

In [30]:
coursera = pd.read_csv("Coursera.csv")

In [17]:
coursera

,partner,course,skills,rating,reviewcount,level,certificatetype,duration,crediteligibility
0,Google,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,Professional Certificate,3 - 6 Months,False
1,Google,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,Professional Certificate,3 - 6 Months,True
2,Google,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,Professional Certificate,3 - 6 Months,True
3,Google,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,Professional Certificate,3 - 6 Months,False
4,Google,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,Professional Certificate,3 - 6 Months,True
...,...,...,...,...,...,...,...,...,...
1134,IIT Guwahati,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1135,IE Business School,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1136,IIT Roorkee,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1137,IIT Bombay,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,University Certificate,6 - 12 Months,False
1138,University of Illinois,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,Graduate Certificate,6 - 12 Months,True

In [7]:
coursera.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1139 entries, 0 to 1138
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   partner            1139 non-null   object
 1   course             1139 non-null   object
 2   skills             1088 non-null   object
 3   rating             993 non-null    float64
 4   reviewcount        993 non-null    object
 5   level              1004 non-null   object
 6   certificatetype    1116 non-null   object
 7   duration           1116 non-null   object
 8   crediteligibility  1139 non-null   bool
dtypes: bool(1), float64(1), object(7)
memory usage: 72.4+ KB

In [38]:
#Droping 'partner','certificatetype','crediteligibility' columns from data because it'll not be useful in tranining
try:
    coursera = coursera.drop(['partner','certificatetype','crediteligibility'],axis=1)
except Exception as ex:
    print("Data has been already processed")

Data has been already processed

In [39]:
coursera

,course,skills,rating,reviewcount,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1134,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1137,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

<h1>Data Featuring</h1>

In [67]:
#Normalization of the column names
try:
    coursera = coursera.rename(
        columns={
            "course": "course_title",
            "reviewcount": "review_count"
        }
    )
except:
    print("columns has been changing")

In [50]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1134,Post Graduate Certificate in Cloud Computing A...,NaN,NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1137,Power Electronics and Motors for Electric Vehi...,NaN,NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

<h3>Handling the Missing values</h3>

In [61]:
#the null values insights
coursera.isna().sum()

course_title     0
skills           0
rating          95
review_count    95
level           84
duration        23
dtype: int64

In [68]:
#Dropping the null values from skills column
coursera = coursera.dropna(subset=['skills'])

In [69]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16.4k,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133.4k,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97.3k,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21.4k,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181.4k,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

In [70]:
#checking the missing value precentage for reveiw count
missing_percent = coursera['review_count'].isna().mean() * 100
print(missing_percent)

8.731617647058822

In [71]:
#If missing % is too high (> 20–30%), mean imputation becomes bad.
if missing_percent < 10:
    print("OK to consider imputation")
else:
    print("Too many NaNs — consider dropping column or advanced imputation")

OK to consider imputation

In [78]:
#removing the 'k' from the review_count to numerical values
def convert_k_to_number(x):
    if isinstance(x, str):
        if 'k' in x.lower():
            return float(x.lower().replace('k','')) * 1000
        else:
            return float(x)
    return x

coursera['review_count'] = coursera['review_count'].apply(convert_k_to_number)

In [77]:
skew = coursera['review_count'].skew()
print(skew)

6.456920167332805

In [75]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",NaN,NaN,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,NaN,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,NaN,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,NaN,NaN,6 - 12 Months

In [93]:
#replacing the null/nan values with the mean of the review count column
coursera['review_count'] = coursera['review_count'].fillna(coursera['review_count'].mean())

In [94]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,1900.0,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",NaN,1900.0,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",NaN,1900.0,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",NaN,1900.0,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",NaN,1900.0,NaN,6 - 12 Months

In [98]:
#replacing the null/nan values with the mean of the rating column
coursera['rating'] = coursera['rating'].fillna(coursera['rating'].mean())

In [96]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.800000,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.800000,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.800000,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.800000,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.800000,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1131,Post Graduate Certificate in Machine Learning ...,"{"" Machine Learning"","" Python Programming"","" R...",4.677241,1900.0,NaN,6 - 12 Months
1132,Accounting Foundations Graduate Certificate,"{"" Leadership and Management"","" Accounting"","" ...",4.677241,1900.0,NaN,6 - 12 Months
1135,Business Essentials University Certificate,"{"" Strategy and Operations"","" Leadership and M...",4.677241,1900.0,NaN,6 - 12 Months
1136,Post Graduate Certificate in Strategic Supply ...,"{"" Machine Learning"","" Python Programming"","" R...",4.677241,1900.0,NaN,6 - 12 Months
1138,Entrepreneurship and Strategic Innovation Grad...,"{"" Accounting"","" Finance"","" General Statistics...",4.677241,1900.0,NaN,6 - 12 Months

In [103]:
coursera = coursera.dropna(subset=['level'])
coursera = coursera.dropna(subset=['duration'])

In [104]:
coursera

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
1018,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
1019,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
1020,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
1021,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
1022,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours

In [105]:
coursera.isna().sum()

course_title    0
skills          0
rating          0
review_count    0
level           0
duration        0
dtype: int64

In [107]:
coursera.to_csv('coursera-v1.csv', index=False)

In [108]:
pd.read_csv("coursera-v1.csv")

,course_title,skills,rating,review_count,level,duration
0,Google Cybersecurity,"{"" Network Security"","" Python Programming"","" L...",4.8,16400.0,Beginner,3 - 6 Months
1,Google Data Analytics,"{"" Data Analysis"","" R Programming"","" SQL"","" Bu...",4.8,133400.0,Beginner,3 - 6 Months
2,Google Project Management:,"{"" Project Management"","" Strategy and Operatio...",4.8,97300.0,Beginner,3 - 6 Months
3,Google Digital Marketing & E-commerce,"{"" Digital Marketing"","" Marketing"","" Marketing...",4.8,21400.0,Beginner,3 - 6 Months
4,Google IT Support,"{"" Computer Networking"","" Network Architecture...",4.8,181400.0,Beginner,3 - 6 Months
...,...,...,...,...,...,...
995,Interviewing and Resume Writing in English,"{"" Communication"","" Human Resources"","" Strateg...",4.6,710.0,Intermediate,3 - 6 Months
996,Strategic Sales Management,"{"" Sales"","" Marketing"","" Strategy"","" Leadershi...",4.5,427.0,Intermediate,3 - 6 Months
997,Essentials of Corporate Finance,"{"" Finance"","" Investment Management"","" Financi...",4.6,1800.0,Intermediate,3 - 6 Months
998,Innovation: From Creativity to Entrepreneurship,"{"" Entrepreneurship"","" Leadership and Manageme...",4.8,3200.0,Beginner,3 - 6 Months
999,Excel for Beginners: Pivot Tables,"{"" Microsoft Excel""}",4.6,52.0,Beginner,Less Than 2 Hours